.profile__edit {
  position: absolute;
  right: 0;
  top: 15px;
  width: 24px;
  aspect-ratio: 1 / 1;
  padding: 0;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url('../../../images/Edit.png');
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .5s;
}

.profile__edit:hover {
  opacity: .6;
}

@media (max-width: 665px) {
  .profile__edit {
    right: 19px;
    top: 8px;
    width: 18px;
  }
}